@import '../Main.scss';
.config-page{
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .config__title{
    padding: 0 0 10px 100px;
    font-family: extendedbold;
    font-size: 64px;
  }
  .config__text{
    padding: 0 0 0 100px;
    font-family: normal;
    font-size: 22px;
    width: 70%;
  }
  .config-block{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .car{
      height: 375px;
    }
    .choice-block{
      .type-labels{
        display: flex;
        justify-content: center;
        .type__label{
          margin: 10px 5px;
          font-family: widelight;
          font-size: 18px;
          padding-bottom: 5px;
          cursor: pointer;
        }
        .active_choice{
          border-bottom: 3px solid black;
        }
      }
      .colors,.felgen{
        height: 50px;
        img{
          height: 100%;
          cursor: pointer;
        }
        img:hover{
          transition: all .5s;
          transform: scale(1.1);
        }
      }
      .active_color,.active_felgen{
        transition: all .5s;
        border:2px solid black;
      }
      .description{
        height: 35px;
        font-family: widelight;
        font-size: 14px;
        display: flex;
        margin-top: 5px;
        justify-content: center;
        max-width:450px;
      }
    }
    
  }
}
@media screen and (min-width:1601px){
  .config-page{
    .config__title{
      padding-left: 250px;
    }
    .config__text{
      padding: 0 0 50px 250px;
    }
    .config-block{
      .car{
        height: 500px;
      }
    }
  }
}
@media (min-width:1024px) and (max-width:1279px){
  .config-page{
    .config__title{
      font-size: 48px;
    }
    .config__text{
      font-size: 18px;
    }
    .config-block{
      .car{
        height: 300px;
      }
    }
  }
}
@media screen and (max-width:1023px){
  .config-page{
    overflow: hidden;
    .config__title{
      padding: 0 15px;
      font-size: 32px;
    }
    .config__text{
      padding: 10px 15px;
      width: 100%;
      font-size: 16px;
    }
    .config-block{
      .car{
        padding-left: 300px;
        height: 250px;
      }
      .choice-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        .colors,.felgen{
          display: flex;
          flex-wrap: wrap;
          height: 100px;
          width: 300px;
          img{
            height: 50px;
            
          }
        }
      }
      .description{
        height: 80px;
        padding: 15px 15px 0;
      }
    }
  }
}