@import '../Main.scss';
.navbar-page{
  width: 100%;
  position: absolute;
  top:0;
  z-index: 5;
  height: 100vh;
  background:black;
  display: flex;
  align-items: center;
  padding-left: 15%;
  .close{
    z-index: 6;
    position: absolute;
    right:0;
    top:0;
    border:10px solid black;
  }
  nav{
    .nav__item{
      font-size: 48px;
      padding: 15px 0;
      transition: all .7s;
      cursor: pointer;
      display: block;
    }
  }
  .menu__image{
    position: absolute;
    right:0;
    height: 100%;
  }
}
@media screen and (max-width:1023px){
  .navbar-page{
    position: relative;
    padding-bottom: 65%;
    nav{
      .nav__item{
        font-size: 28px;
      }
    }
    .menu__image{
      position: absolute;
      bottom: 0;
      height: 40%;
      width: 100%;
      object-fit: cover;
    }
  }
}