@import '../Main.scss';
.text-page{
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 0 0 10% 10%;
  background:#000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .text-page__title{
    opacity: 0;
    font-family: extendedbold;
    font-size: 64px;
    width: 70%;
    color:$white;
  }
  .text-page__text{
    opacity: 0;
    margin-top: 30px;
    font-family: widelight;
    font-size: 24px;
    width: 90%;
    color:$white;

  }
}
@media screen and (max-width:1023px) {
  .text-page{
    padding-bottom: 20%;
    .text-page__text{
      font-size: 16px;
    }
    .text-page__title{
      
      font-size: 32px;
    }
  }  
}