@import 'Fonts.scss';
$dark:#13272E;
$white:rgba(235, 237, 238, 1);
$dark-linear:linear-gradient(180deg, #0F2027 0%, #203A43 49.27%, #2C5364 100%);
$bg:linear-gradient(180deg, #EBEDEE 0%, rgba(251, 251, 251, 0) 100%), #FFFFFF;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
a:visited{
  color:inherit;
}
.container{
  height: 100vh;
  padding: 50px 20px;
}
@media screen and (max-width:1023px){
  .container{
    padding: 30px 15px;
  }
}

